<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="layout/base :: head(~{::link}, ~{::style}, ~{::script})">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>내 정보</title>
</head>
<body class="d-flex flex-column h-100">

<header th:replace="layout/base :: body(~{::header})"></header>

<script th:inline="javascript">
    const result = [[${result}]];
    if(result == true){
        alert("수정이 완료되었습니다.");
    }
</script>

<!-- Begin page content -->
<main class="flex-shrink-0">
    <div class="container" style="margin-top: 50px">
        <div class="row">
            <div class="col me-3 text-center" style="max-width: 250px; font-size: 13px;">
                <div class="row list-group">
                    <a th:href="@{/posts}" class="list-group-item list-group-item-action">회원전용 게시판</a>
                    <a href="#" class="list-group-item list-group-item-action">💩 게시판</a>
                    <a href="#" class="list-group-item list-group-item-action">👼 게시판</a>
                    <a href="#" class="list-group-item list-group-item-action">앙앙잉 게시판</a>
                </div>

                <div class="row mt-4 justify-content-center">
                    <button class="btn btn-outline-dark myButton-pink " type="button"
                            th:onclick="|location.href='@{/post/new}'|">
                        새 글 쓰기
                    </button>
                </div>
            </div>

            <div class="col container p-5 ms-5" style="border: solid 2px lightpink; border-radius: 30px;">

                <h4 class="mb-4">프로필 수정</h4>
                <hr class="my-4">

                <form action="" th:action th:object="${member}" method="post">

                    <div class="row">
                        <table class="table table-borderless table-sm m-1" style="font-size: 12px;">
                            <tr>
                                <th style="width: 30%">아이디</th>
                                <th th:text="*{loginId}"></th>
                            </tr>
                            <tr>
                                <th style="width: 30%">비밀번호</th>
                                <th><input type="text" disabled></th>
                            </tr>
                            <tr>
                                <th style="width: 30%">이름</th>
                                <th>
                                    <input type="text" id="name" th:field="*{name}" th:errorclass="field-error">
                                </th>
                            </tr>
                        </table>
                    </div>

                    <div class="row">
                        <div class="row">
                            <div class="field-error" th:errors="*{name}">이름 오류</div>
                        </div>
                        <div class="col" style="max-width: 20%">
                            <button class="btn btn-outline-dark myButton-pink mt-4 mr-4" type="submit">
                                적용
                            </button>
                        </div>

                        <div class="col" style="max-width: 20%">
                            <button class="btn btn-outline-dark myButton-pink mt-4 mr-4" type="button"
                                    th:onclick="|location.href='@{/}'|">
                                취소
                            </button>
                        </div>

                        <div class="col" style="max-width: 30%">
                            <button class="btn btn-outline-dark myButton-pink mt-4 mr-4" type="button"
                                    th:onclick="|location.href='/member/${session.loginMember.id}/password'|">
                                비밀번호 변경
                            </button>
                        </div>
                    </div>
                </form>

            </div>
        </div>

    </div>

</main>

<div th:insert="~{/layout/footer :: copy}"></div>

</body>
</html>